  <table>
    <% var i; for (i=0; i< quizes.length; i++) 
              { %> <tr>
                      <td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
                      <td><a href="quizes/<%= quizes[i].id %>/edit"><button>Editar</button></a></td>
                  </tr>
                <% } %>
    <form method="get" action="/quizes">
      Buscador de preguntas: <p>
      <input type="text" name="search" value="Texto de la pregunta"/>
      <input type="submit" value="Enviar">
    </form>
  </table><p>
  <a href="/quizes/new"><button type="button">Crear Pregunta</button></a>  